
$base-color-red : #e72020;
$base-color-green : #00cc19;
$border-offer : 1px solid #c3c3c3;//#ffaeae;
$back-color-offer : #e60060;
$base-color-blue:#0093ff;
$back-color : #f5f5f5;
$box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
$border : 1px solid #d3d3d3;
$border-light : 1px solid #f5f5f5;
$menu-bg-color:#454545;
$box-border-color :#eaeaea;
