<div class="footer-top align-center">
  <!-- <i class="fab fa-telegram"></i> -->

  <div class="col text-center">
    <a href="#" class="snip"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" class="snip"><i class="fab fa-instagram"></i></a>
    <a href="#" class="snip"><i class="fab fa-telegram-plane"></i></a>
    <a href="#" class="snip"><i class="fab fa-google-plus-g"></i></a>
</div><!--.col-->

</div>
<div class="footer-middel">
  <div class="footer-bottom-area bg-dark-light section-padding-sm">
    <div class="container">
        <div class="row widgets footer-widgets">


          <div class="col-lg-3 col-md-6 col-12">
            <div class="single-widget widget-quick-links">
                <h5 class="widget-title">درباره ما</h5>
                <ul>
                    <li><a href="#">درباره مکمل پلاس</a></li>
                    <li><a href="#">ارتباط با ما</a></li>
                    <li><a href="#">تامین کنندگان</a></li>
                    <li><a href="#">همکاران</a></li>
                    <li><a href="#">بلاگ</a></li>
                </ul>
            </div>
        </div>





            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-quick-links">
                    <h5 class="widget-title">راهنما</h5>
                    <ul>
                        <li><a href="#">قوانین و مقررات</a></li>
                        <li><a href="#">چگونگی سفارش</a></li>
                        <li><a href="#">روش های پرداخت</a></li>
                        <li><a href="#">ارسال</a></li>
                        <li><a href="#">امتیاز</a></li>
                        <li><a href="#">نظرات</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-quick-links">
                    <h5 class="widget-title">اشتراک خبرنامه</h5>
                    <ul>
                        <li><a href="#">ارسال خبرنامه به ایمیل شما</a></li>
                        <li><a href="#">اشتراک خبرنامه</a></li>
                      
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-contact">
                    <h5 class="widget-title">ارتباط با دارومند</h5>
                    <ul>
                        <li class="address">
                            <span class="icon"><i class="fal fa-map-marker"></i></span>
                            <p>آدرس: امیر آباد</p>
                        </li>
                        <li class="phone">
                            <span class="icon"><i class="fal fa-phone"></i></span>
                            <p><a href="#">021-88404050</a></p>
                        </li>
                        <li class="fax">
                            <span class="icon"><i class="fal fa-fax"></i></span>
                            <p><a href="#">021-88554400</a></p>
                        </li>
                        <li class="email">
                            <span class="icon"><i class="fal fa-envelope"></i></span>
                            <p><a href="#">info@chamix.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</div>