<div class="map-site-box row">
    <div class="map-site-caption" (click)="navigate('')">صفحه اصلی</div>
    <div class="fal fa-chevron-left middel-map-site-caption"></div>
    <div class="map-site-caption">محصولات</div>
    <div class="fal fa-chevron-left middel-map-site-caption"></div>
    <div class="map-site-caption">مکمل ورزشی</div>
    <div class="fal fa-chevron-left middel-map-site-caption"></div>
    <div class="map-site-caption">Whey</div>
</div>
<div class="pr-3 pl-3">
    <div class="w-100" style="border-bottom: 1px solid #eeeeee;"> </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 m-auto contents pt-5 row">
    <div class="col-8 ">
        <div class="box row">
            <div class="col-6 p-2">
                <img class="main-img box" src="../../../../assets/Images/ProductDetails/01.jpg" />
            </div>

            <div class="col-6 text-right " style="border-right: 0;border-left: 0;">
                <p class="pt-3 first-des">
                    نوترکس
                </p>
                <p class="secound-des">
                    پروتئین وی ۱۰۰٪ ماسل اینفیوژن ناترکس
                </p>
                <p class="des-text">

                    ماسل انفیوژن یک فرمول پیشرفته چند پروتئینی است که در هر وعده و یا سروینگ 25 گرم پروتئین با کیفیت
                    بالا
                    برای
                    عضلات شما تأمین می کند. به جای تمرکز فقط روی یک منبع انفیوژن ماهیچه ای ، پنج پروتئین مختلف وجود
                    دارد.ماسل
                    اینفیوژن یک منبع عالی گلوتامین است و با وجود سطح بالایی از BCAA که به طور طبیعی وجود دارد ، به ترمیم
                    و
                    رشد
                    ماهیچه ها کمک می کند. برای حمایت از تلاش خود برای عضلات لاغر ، ماسل انفیوژن چربی بسیار پایینی دارد .
                    از
                    ویژگیهای این محصول، طعم خوشمزه دارد و به راحتی با یک قاشق مخلوط می شود.
                </p>
            </div>

            <div class="col-12 pl-0 pr-2">
                <div class="pr-3 pl-3">
                    <div class="w-100" style="border-bottom: 1px solid #eeeeee;"> </div>
                </div>
                <div class="img-bottom-box ">
                    <div class="item">
                        <img class="img-item " src="../../../../assets/Images/ProductDetails/01.jpg" />
                    </div>


                    <div class="item">
                        <img class="img-item " style="border-right: 0;border-left: 0;"
                            src="../../../../assets/Images/ProductDetails/03.jpg" />
                    </div>


                    <div class="item">
                        <img class="img-item " src="../../../../assets/Images/ProductDetails/04.jpg" />
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-4 pt-0 pl-0 pr-1">
        <div class="box col-12 pt-1 h-100">
            <div class="discount-box">
                <i class="fal fa-tags align-center float-right h-100 pr-2"></i>
                <span class="align-center h-100 caption-tags"> 15 % تخفیف </span>
            </div>
            <div class="row">

            </div>
            <div class="text-center">
                
                <img matTooltip="این محصول 3 مند پونت دارد" class="icon-mandpoint"
                    src="../../../../assets/Images/Header/Crown_burned.png" />
                <p class="txt-mandpoint">۶ امتیاز</p>
                <div class="price">۱,۰۰۰,۰۰۰ تومان</div>
            </div>

            <div class="row pad-20 pad-t-45">


                <div class="col-6 p-0 pr-1">
                    <div style="width: 95%; text-align:right;">
                    <div class="caption pb-1">نوع</div>
                    <div class="btn-group w-100">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            2,27کیلوگرم
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">2,27کیلوگرم</button>
                        </div>
                    </div>
                </div>
                </div>


                <div class="col-6 p-0 pr-1">
                    <div class="caption pb-1">تعداد</div>

                    <div class="flex-row">
                        <i class="btn-style fal fa-plus btn-plus align-center"></i>
                        <i class="btn-style fal fa-minus align-center"></i>
                        <div class="caption-number align-center"> 1 </div>

                    </div>


                </div>
            </div>
            <div class="w-100 parent-card">
                <div class="add-to-card align-center">
                    افزودن به سبد خرید
                </div>
            </div>
        </div>
    </div>
</div>



<div class="contents p-3">
    <mat-tab-group mat-align-tabs="right">

        <mat-tab label="مشخصات فنی">

            <div class="pt-4 m-0 row">

                <div class="col-12 row m-auto content-box text-right  row pt-1" style="margin-top: 0 !important;">

                    <div class="col-3 mb-2">
                        <div class="technical-box  p-2">
                            وزن
                        </div>
                    </div>

                    <div class="technical-box col-9 mb-2">
                        <div class=" p-2">
                            100 گرم
                        </div>
                    </div>

                </div>

                <div class="col-12 row m-auto content-box text-right  row pt-1" style="margin-top: 0 !important;">

                    <div class="col-3 mb-2">
                        <div class="technical-box p-2">
                            وزن
                        </div>
                    </div>

                    <div class="technical-box  col-9 mb-2">
                        <div class=" p-2">
                            100 گرم
                        </div>
                    </div>

                </div>

                <div class="col-12 row m-auto content-box text-right  row pt-1" style="margin-top: 0 !important;">

                    <div class="col-3 mb-2">
                        <div class="technical-box p-2">
                            وزن
                        </div>
                    </div>

                    <div class="technical-box  col-9 mb-2">
                        <div class=" p-2">
                            100 گرم
                        </div>
                    </div>

                </div>

                <div class="col-12 row m-auto content-box text-right  row pt-1" style="margin-top: 0 !important;">

                    <div class="col-3 mb-2">
                        <div class="technical-box p-2">
                            وزن
                        </div>
                    </div>

                    <div class="technical-box  col-9 mb-2">
                        <div class=" p-2">
                            100 گرم
                        </div>
                    </div>

                </div>

                <div class="col-12 row m-auto content-box text-right  row pt-1" style="margin-top: 0 !important;">

                    <div class="col-3 mb-2">
                        <div class="technical-box p-2">
                            وزن
                        </div>
                    </div>

                    <div class="technical-box  col-9 mb-2">
                        <div class=" p-2">
                            100 گرم
                        </div>
                    </div>

                </div>

                <div class="col-12 row m-auto content-box text-right  row pt-1" style="margin-top: 0 !important;">

                    <div class="col-3 mb-2">
                        <div class="technical-box p-2">
                            وزن
                        </div>
                    </div>

                    <div class="technical-box  col-9 mb-2">
                        <div class=" p-2">
                            100 گرم
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>


        <mat-tab label="نظرات">

            <div class="pt-2 m-0 row">

                <div class="col-12 row m-auto content-box text-right   pt-3" style="margin-top: 0 !important;">

                    <div class="box w-100 mb-2">

                        <div class="inner-item">

                            <div class="first-caption-comment">یک مکمل خوب و عالی
                            </div>
                            <div class="secound-caption-comment">
                                توسط محمد جواد صادقی ده آبادی در تاریخ ۱۷ اردیبهشت ۱۳۹۷
                            </div>
                            <div class="line"></div>
                            <div class="text-right">
                                عالی بود ممنون از آقای پناباد
                            </div>

                            <div class="text-right">
                                عوارض :
                                ندارد
                            </div>

                        </div>

                    </div>

                    <div class="box w-100 mb-2">

                        <div class="inner-item">

                            <div class="first-caption-comment">یک مکمل خوب و عالی
                            </div>
                            <div class="secound-caption-comment">
                                توسط محمد جواد صادقی ده آبادی در تاریخ ۱۷ اردیبهشت ۱۳۹۷
                            </div>
                            <div class="line"></div>
                            <div class="text-right">
                                عالی بود ممنون از آقای پناباد
                            </div>

                            <div class="text-right">
                                عوارض :
                                ندارد
                            </div>

                        </div>

                    </div>

                    <div class="box w-100 mb-2">

                        <div class="inner-item">

                            <div class="first-caption-comment">یک مکمل خوب و عالی
                            </div>
                            <div class="secound-caption-comment">
                                توسط محمد جواد صادقی ده آبادی در تاریخ ۱۷ اردیبهشت ۱۳۹۷
                            </div>
                            <div class="line"></div>
                            <div class="text-right">
                                عالی بود ممنون از آقای پناباد
                            </div>

                            <div class="text-right">
                                عوارض :
                                ندارد
                            </div>

                        </div>

                    </div>


                    <div class="box w-100 mb-2">

                        <div class="inner-item">

                            <div class="first-caption-comment">یک مکمل خوب و عالی
                            </div>
                            <div class="secound-caption-comment">
                                توسط محمد جواد صادقی ده آبادی در تاریخ ۱۷ اردیبهشت ۱۳۹۷
                            </div>
                            <div class="line"></div>
                            <div class="text-right">
                                عالی بود ممنون از آقای پناباد
                            </div>

                            <div class="text-right">
                                عوارض :
                                ندارد
                            </div>

                        </div>

                    </div>


                    <div class="box w-100 mb-2">

                        <div class="inner-item">

                            <div class="first-caption-comment">یک مکمل خوب و عالی
                            </div>
                            <div class="secound-caption-comment">
                                توسط محمد جواد صادقی ده آبادی در تاریخ ۱۷ اردیبهشت ۱۳۹۷
                            </div>
                            <div class="line"></div>
                            <div class="text-right">
                                عالی بود ممنون از آقای پناباد
                            </div>

                            <div class="text-right">
                                عوارض :
                                ندارد
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>