<!-- <div class="baner fadeInUp animated">
    <img class="baner-img" src="../assets/Images/baner.jpg" alt="Second slide">
  </div> -->

<div class="row group-sile-show">


  <div class="col-12 pl-0 pr-0">
    <div id="carouselExampleIndicators" class="carousel slide main-box-item zoomIn animated" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
      </ol>
      <div class="carousel-inner slide-show">
        <div class="carousel-item active">
          <img class="d-block w-100 img-slide" src="../assets/Images/HomePage/5181889c-0ece-443f-bf0f-77113002c439.jpg"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-slide" src="../assets/Images/HomePage/5fcc211a-80e6-41f3-b4c8-b89edfb4083a.jpg"
            alt="Second slide">
        </div>
        <!-- <div class="carousel-item">
            <img class="d-block w-100 img-slide" src="../assets/Images/3.png" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-slide" src="../assets/Images/4.png" alt="4 slide">
          </div> -->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-icon" aria-hidden="true">❯</span>
        <span class="sr-only">قبلی</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <!-- carousel-control-next-icon -->
        <span class="carousel-icon" aria-hidden="true">❮</span>
        <span class="sr-only">بعدی</span>
      </a>
    </div>


    <!-- first offer -->
    <div class="col-lg-12 col-md-12 col-sm-12 m-auto special-offer">
      <div class="row offer-1  text-right slideInUp animated  ">

        <div class="nav flex-column nav-pills col-2 tab-item-link" id="v-pills-tab" role="tablist"
          aria-orientation="vertical">
          <div class="offer-header text-right" style="border-top-right-radius: 6px;">
            <span>پیشنهاد های ویژه</span>
          </div>
          <div class="nav flex-column nav-pills p-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-vertical nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-home"
              role="tab" aria-controls="v-pills-1" aria-selected="true">BCAA COMPLEX</a>

            <a class="nav-vertical nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-2" aria-selected="false">پروتئن</a>

            <a class="nav-vertical nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-3" aria-selected="false">قبل تمرین</a>

            <a class="nav-vertical nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-4" aria-selected="false">کراتین</a>

            <a class="nav-vertical nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-5" aria-selected="false">مکمل</a>

            <a class="nav-vertical nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-6" aria-selected="false">NUTRITION</a>

            <a class="nav-vertical nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-6" aria-selected="false">بعد تمرین</a>

            <a class="nav-vertical nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-6" aria-selected="false">ALTRA AMINO</a>

            <a class="nav-vertical nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-6" aria-selected="false">اسید آمینه</a>

            <a class="nav-vertical nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-6" aria-selected="false" style="border-bottom: none;">مولتی ویتامین</a>

          </div>
        </div>
        <div (click)="navigate('products')" class="tab-content col-10 m-0 p-0 tab-content" id="v-pills-tabContent">

          <div class="tab-panell fade show active h-100" id="v-pills-home" role="tabpanel"
            aria-labelledby="v-pills-home-tab">

            <div class="row h-100">
              <div class="col-6 div-offer ">
                <img class="d-block img-offer" src="../assets/Images/Img-Grp-1.png" alt="-----">

              </div>
              <div class="info col-6 ">

                <div class="offer-lable">پیشنهاد ویژه</div>
                <div class="text-right">
                  <div>
                    <h6 class="offer-orginal-price">قمیت : 100,000 تومان</h6>
                  </div>

                  <div>
                    <h5 class="price-after-discount">قمیت : 80,000 تومان</h5>
                  </div>

                  <div class="pt-4" style="color: #0093ff;">
                    <h6>قرص ZINK PLUS شرکت WILD NUTIROTION</h6>
                  </div>
                  <ul style="color: grey">
                    <li>کشور تولید کننده: آلمان</li>
                    <li>تاریخ مصرف: 2020/02/15</li>
                  </ul>
                  <div style="color: lightgray;border:solid 0.5px; width:70%"></div>
                  <div class="pt-3" style="color: #333333;">
                    <h1>10:02:08</h1>
                    <h6 class="pb-1">زمان باقیمانده تا پایان سفارش</h6>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="tab-panel fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            <div class="row h-100">
              <div class="col-6 div-offer ">
                <img class="d-block  img-offer" src="../assets/Images/Img-Grp-8.png" alt="-----">

              </div>
              <div class="info col-6 ">

                <div class="offer-lable">پیشنهاد ویژه</div>
                <div class="text-right">
                  <div>
                    <h6 class="offer-orginal-price">قمیت : 100,000 تومان</h6>
                  </div>

                  <div>
                    <h5 class="price-after-discount-color">قمیت : 80,000 تومان</h5>
                  </div>

                  <div class="pt-4" style="color: #0093ff;">
                    <h6>قرص ZINK PLUS شرکت WILD NUTIROTION</h6>
                  </div>
                  <ul style="color: grey">
                    <li>کشور تولید کننده: آلمان</li>
                    <li>تاریخ مصرف: 2020/02/15</li>
                  </ul>
                  <div style="color: lightgray;border:solid 0.5px; width:70%"></div>
                  <div class="pt-3" style="color: #333333;">
                    <h1>10:02:08</h1>
                    <h6 class="pb-1">زمان باقیمانده تا پایان سفارش</h6>
                  </div>
                </div>

              </div>

            </div>


          </div>


          <div class="tab-panel fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

            <div class="row h-100">
              <div class="col-6 div-offer ">
                <img class="d-block  img-offer" src="../assets/Images/Img-Grp-3.png" alt="-----">

              </div>
              <div class="info col-6 ">

                <div class="offer-lable">پیشنهاد ویژه</div>
                <div class="text-right">
                  <div>
                    <h6 class="offer-orginal-price">قمیت : 100,000 تومان</h6>
                  </div>

                  <div>
                    <h5 class="price-after-discount-color">قمیت : 80,000 تومان</h5>
                  </div>

                  <div class="pt-4" style="color: #0093ff;">
                    <h6>قرص ZINK PLUS شرکت WILD NUTIROTION</h6>
                  </div>
                  <ul style="color: grey">
                    <li>کشور تولید کننده: آلمان</li>
                    <li>تاریخ مصرف: 2020/02/15</li>
                  </ul>
                  <div style="color: lightgray;border:solid 0.5px; width:70%"></div>
                  <div class="pt-3" style="color: #333333;">
                    <h1>10:02:08</h1>
                    <h6 class="pb-1">زمان باقیمانده تا پایان سفارش</h6>
                  </div>
                </div>

              </div>

            </div>


          </div>
          <div class="tab-panel fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- first category -->

<div class="m-auto col-12 col-xl-9 col-lg-12 col-md-12 col-sm-12">

  <div class="row container-box">
    <div class="col-3">
      <div class="box right-box ">
        <a (click)="navigate('products')" class="box-label align-center">ویژه بانوان</a>
      </div>
    </div>

    <div class="col-6" style="padding-left: 10px; padding-right: 10px;">
      <div style="padding-bottom: 15px;">
        <div class="box top-box col-12">
          <a (click)="navigate('products')" class="box-label align-center">مکمل ورزشی</a>
        </div>
      </div>
      <div>
        <div class="box bottom-box col-12">
          <a class="box-label align-center">مند پوینت</a>

        </div>
      </div>
    </div>
    <div class="col-3">

      <div class="box left-box">
        <a (click)="navigate('products')" class="box-label align-center">آرایشی بهداشتی</a>
      </div>
    </div>

  </div>